.wrapper {

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.attribution {
    position: relative;
    padding: 0.35em;
    font-size: 1.4rem;
    text-align: center;
    @media only screen and (min-width: 375px) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1em;
        
    }
}

h1 {
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 3.2rem;
}

p {
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.5rem;
}